<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="Avast Phishing Challenge" name="description"/>
    <meta content="avast phishing,antivirus,phishing game, phishing" name="keywords"/>
    <meta content="Eder Tejada" name="author"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Avast Phishing Challenge</title>
    <link rel="icon" type="image/png" href="https://static3.avast.com/2000571/web/i/favicon-16x16.png" sizes="16x16" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link crossorigin='anonymous' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
          integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' rel='stylesheet'>
    <link href="style/main.css" rel="stylesheet">
    <link href="style/media.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        var jsonData = <%- jsonData %>;
    </script>
    <script defer src="script/main.js" type="text/javascript"></script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MB289WJ');</script>
</head>
<body>
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MB289WJ"
            height="0" width="0" style="display:none;visibility:hidden">
    </iframe>
</noscript>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v6.0&appId=278932249245960&autoLogAppEvents=1"></script>
<header>
    <div id="header-master">
        <img alt="logo-blue" src="img/avast-logo-blue.png" class="avast-logo">
        <button class="tips" onclick="popIt(); dataLayer.push({'event': 'tips-button', 'type': 'desktop'});">
            <i class='far fa-lightbulb'></i>
        </button>
    </div>

    <div id="header-popup">
        <img alt="logo-white" src="img/avast-logo-white.png" class="avast-logo">
        <button class="tips" onclick="popIt();">
            <i class='fas fa-times'></i>
        </button>
    </div>
</header>
<section id="popup">
    <div class="container popup-container">
        <span class="highlight"><h2>How to spot a fake website?</h2></span>
        <h3><i class='far fa-lightbulb'></i> Tips</h3>
        <table>
            <tr>
                <td><img alt="click" src="img/icons/click.png"></td>
                <td>Watch out! Be aware of <span class="highlight">what you’re clicking</span> on</td>
            </tr>
            <tr>
                <td><img alt="social-media" src="img/icons/social-media.png"></td>
                <td><span class="highlight">Phishing</span> often happens via email, messaging apps (whatsApp,
                    Messenger, etc), and social media
                </td>
            </tr>
            <tr>
                <td><img alt="url" src="img/icons/url.png"></td>
                <td>Look carefully at <span class="highlight">the URL</span> before entering any information on the
                    website
                    <ul>
                        <li>Secured URL - <span class="highlight-green"><i class='fas fa-lock'></i></span> + HTTPS</li>
                        <li>Url address is not misspelled or unusual</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td><img alt="inbox" src="img/icons/alert.png"></td>
                <td><span class="highlight">Use common sense</span> - offers too good to be true are usually a scam, and
                    poor grammar and misspelled
                    words are a dead give away
                </td>
            </tr>
            <tr>
                <td><img alt="question-mark" src="img/icons/question-mark.png"></td>
                <td>If it looks <span class="highlight">suspicious</span>, don’t click on it.<br>Go to the official
                    website
                    of the business you are dealing with
                </td>
            </tr>
            <tr>
                <td><img alt="question-mark" src="img/icons/account.png"></td>
                <td>The page only has <span class="highlight">log in details</span> - missing “Create a new account”,
                    and/or “Forgot your password?”
                </td>
            </tr>
        </table>
        <button class="close">ok, go back</button>
    </div>
</section>
<section id="master">
    <div class="container">
        <h1><span class="highlight">Fake</span> or Real?</h1>
        <div class="dots-container">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <div id="browser-window">
            <div id="browser-nav">
                <span class="elem-left"><p>&#9675;&#9675;&#9675;</p></span>
                <div class="url-bar">
                    <i class='fas fa-lock'></i>
                    <span id="url-src"></span>
                </div>
                <span class="elem-right"><p>&#9776;</p></span>
            </div>
            <div class="browser-container">
                <div class="inner-content">
                    <div id="welcome-page">
                        <h1><span class="highlight">Fake</span> or Real?</h1>
                        <img alt="anchor" src="img/icons/anchor.png">
                        <h2>Think you can spot<br> a <span class="highlight">fake</span> website?</h2>
                        <p>Take a good look and see if you can catch the differences between a real website, and a
                            fake</p>
                        <button id="start" onclick="nextPage('welcome-page', 'game-page')">let's play</button>
                    </div>
                    <div id="game-page">
                        <div id="img-container">
                            <% items.forEach( item => { %>
                            <div class="mySlides">
                                <span class="img-src" data-status="<%=item.status%>" >
                                    <img alt="source-img" src="<%=item.img%>">
                                </span>
                            </div>
                            <% }) %>
                        </div>
                        <button id="real" onclick="isPhishing(true)">
                            <i class='fas fa-thumbs-up'></i> real
                        </button>
                        <button id="fake" onclick="isPhishing(false)">
                            <i class='fas fa-thumbs-down'></i> fake
                        </button>
                    </div>
                    <div id="dialogue">
                        <span id="dialogue-img"></span>
                        <h2 id="dialogue-ans"></h2>
                        <h3>You scored: <span id="dialogue-score" class="highlight"></span></h3>
                        <p id="dialogue-tip"><i class='far fa-lightbulb'></i> Watch out for suspicious URLs, buttons, text fields
                            or missing logos!</p>
                        <button id="continue" onclick="move()">continue</button>
                    </div>
                    <div id="summary-page">
                        <h2><span class="highlight results"></span></h2>
                        <h3><span class="results"></span></h3>
                        <p>Most people can’t tell the difference between a real and a fake website.
                            Trying to be your own phishing detection engine is too hard.
                            Use a strong antivirus like Avast Free with award winning phishing detection.</p>
                        <a id="download" class="bi-download-link" href="https://www.avast.com/" data-role="download-link">
                            download avast
                        </a>
                        <div id="social-media">
                            <!--<a>Facebook</a>
                            <a>Twitter</a>-->
                            <div class="fb-share-button" data-href="https://phish.avast.com/" data-layout="button" data-size="small">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fphish.avast.com%2F&amp;src=sdkpreparse" 
                                   class="fb-xfbml-parse-ignore">Compartir</a>
                            </div>                            
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
                               class="twitter-share-button" data-text="My score is "
                               data-url="https://phish.avast.com/" data-hashtags="AvastPhishingChallenge"
                               data-related="avast_antivirus" data-show-count="false">Tweet</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
        <div id="score">
            <div class="score-container">
                <span class="score-cnt highlight">0</span>
                <p>your score</p>
            </div>
            <button class="reset" onClick="location.reload();">
                <i class='fas fa-redo'></i> reset
            </button>
        </div>
    </div>
</section>
<section id="mobile-footer">
    <div class="container">
        <div class="dots-container">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
        <button class="reset" onClick="location.reload();"><i class='fas fa-redo'></i></button>
        <p>your score: <span class="score-cnt highlight">0</span></p>
        <button id="tips-mobile" onclick="popIt(); dataLayer.push({'event': 'tips-button', 'type': 'mobile'});">
            <i class='far fa-lightbulb'></i>
        </button>
    </div>
</section>
</body>
</html>
