body {
    font-family: 'Montserrat', 'Helvetica Neue', 'Roboto', Helvetica, Arial, sans-serif;
    color: #261C6A;
    background-image: radial-gradient(circle, #FFFFFF 40%, #d4d2e6 100%);
    overflow: hidden;
}
header {
    padding: 1%;
}
#header-master {
    display: block;
}
#header-popup {
    display: none;
}
.avast-logo {
    width: 10%;
    position: absolute;
    left: 3%;
    z-index: 3;
}
nav {
    float: right;
}
table {
    width: 40%;
    font-size: 1.2em;
    text-align: left;
    margin: auto;
    border-spacing: 1.2em;
}
ul li {
    list-style: disc;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
    margin-left: 0;
}
a {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 0.3em;
    cursor: pointer;
}
button {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
    width: 40%;
    padding: 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
#master .container {
    width: 60%;
}
.container h1 {
    font-weight: 900;
    font-size: 3.5em;
    margin-top: 15%;
}
.container h2 {
    font-weight: 900;
    font-size: 2.8em;
}
.container h3 {
    font-weight: 900;
    font-size: 2.2em;
}
.container p {
    font-size: 1.2em;
}
.highlight {
    color: #FF7800;
}
.highlight-green {
    color: #43ed9c;
}
header button {
    position: absolute;
    z-index: 3;
    width: 3%;
    padding: 0.3em;
    border: none;
    border-radius: 60%;
    background-color: #FFFFFF;
    color: #FF7800;
    font-size: 1.8em;
}
.tips {
    background-color: #FFFFFF;
    color: #FF7800;
    right: 8%;
}
.reset {
    background-color: #FF7800;
    color: #FFFFFF;
    right: 3%;
}
#tips-mobile {
    margin-right: 10%;
    float: right;
    width: 6%;
    border-radius: 60%;
    background-color: #FFFFFF;
    color: #FF7800;
    border: none;
}

#popup-mobile,
#popup {
    color: #FFFFFF;
    padding-top: 5%;
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: radial-gradient(circle, #261C6A 50%, #160E53 100%);
}
.popup-container td {
    vertical-align: top;
}
.popup-container img {
    vertical-align: middle;
    margin: 0 0.5em 0;
}
.close {
    display: none;
    margin: auto;
    width: 25%;
    background-color: #FF7800;
    border: none;
    color: #FFFFFF;
}
.dots-container {
    display: none;
}
.dot {
    height: 0.9em;
    width: 0.9em;
    margin: 0 0.1em 0;
    background-color: #E9E8F3;
    border-radius: 50%;
    display: inline-block;
}
.active {
    background-color: #FF7800;
}
#browser-window {
    position: relative;
    width: 100%;
    height: 44.6em;
    background-color: #261C6A;
    border-radius: 0.5em;
}
#browser-nav {
    width: 100%;
    display: inline-block;
    color: #d4d2e6;
    margin: 1%;
}
#browser-nav p {
    display: inline;
    font-size: 1.25em;
    vertical-align: top;
}
.browser-container {
    width: 100%;
    height: 40em;
    background-color: #FFFFFF;
}
.inner-content {
    position: relative;
    margin: auto;
    width: 100%;
}
#welcome-page h1 {
    display: none;
}
.elem-left {
    padding-left: 2%;
    float: left;
}
.elem-right {
    padding-right: 2%;
    float: right;
}
.url-bar {
    display: none;
    text-align: left;
    word-spacing: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 75%;
    border-radius: 0.75em;
    color: #261C6A;
    background-color: #f4f3fa;
    padding: 0.25% 3% 0.25%;
}
#welcome-page {
    margin: auto;
    width: 50%;
    padding-top: 5%;
}
#welcome-page .url-bar {
    display: none;
}
#dialogue button,
#start {
    width: 50%;
    background-color: #FF7800;
    color: #FFFFFF;
    border: none;
}
#game-page {
    display: none;
    margin: auto;
    width: 100%;
}
#game-page button {
    position: absolute;
    z-index: 1;
    top: 70%;
    width: 15%;
}
#img-container img {
    width: 75%;
    height: 40em;
}
.mySlides {
    display: none;
}
#real {
    word-spacing: 0.5em;
    right: -10%;
    background-color: #43ed9c;
    color: #FFFFFF;
    border: none;
}
#fake {
    word-spacing: 0.5em;
    left: -10%;
    background-color: #ff4672;
    color: #FFFFFF;
    border: none;
}
#dialogue {
    display: none;
    margin: auto;
    width: 52%;
    padding-top: 10%;
    line-height: 1;
}
#dialogue p {
    font-style: italic;
}
#dialogue-tip {
    display: none;
}
#score {
    display: none;
}
.score-container {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
    margin: auto;
    display: block;
    width: 15%;
    background-color: #261C6A;
    padding: 1% 3% 1%;
    line-height: 0.5;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.score-cnt {
    font-size: 2em;
}
/*.reset {
    font-size: 0.9em;
    word-spacing: 0.5em;
    width: 21%;
    background-color: #FF7800;
    color: #FFFFFF;
    margin-top: 1%;
    border: none;
}*/
#summary-page {
    margin: auto;
    display: none;
    width: 55%;
    padding-top: 7%;
}
#summary-page .url-bar {
    display: none;
}
#summary-page p {
    margin-bottom: 10%;
}
#summary-page .fa-facebook {
     color: #1778F2;
}
#summary-page .fa-twitter {
    color: #00acee;
}
#download {
    text-decoration: none;
    padding: 1.2em;
    background-color: #FF7800;
    color: #FFFFFF;
    border: none;
}
#social-media a {
    margin-top: 10%;
    padding: 0.5em;
    display: inline-block;
    font-size: 0.8em;
}
#mobile-footer {
    display: none;
    padding: 6% 0 1%;
    width: 100%;
    background-color: #261C6A;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
#mobile-footer .dots-container {
    display: block;
}
#mobile-footer p {
    display: inline;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.2em;
    vertical-align: -1.5em;
}
